@{
    ViewBag.Title = "User Profile";
}

<div class="container-fluid">
    <hr />
    <h2>Utilisateur disponible : </h2>
    <a href="/home/resume?username=mohamed"> <h3>mohamed</h3></a>
</div>
